@page "/"
@using static System.Console
@using Microsoft.Extensions.Logging;  
@inject ILogger<Index> logger  

<PageTitle>Index</PageTitle>

<h1>Hello, world! @DateTime.Now.ToString("ddddd MMMM dd yyyy hh:mm:ss.ffff tt (zzz)")</h1>

Welcome to your new app deployed from Github Workflow Actions.

<SurveyPrompt Title="How is Blazor working for you?" />
<button @onclick="makeStdOutLogEntry">
    Press me to make a log entry!
</button>
<div style="border:groove">
count = @count
</div>
@code{
    int count = 0;
    async Task makeStdOutLogEntry()
    { // https://www.c-sharpcorner.com/article/introduction-to-logging-framework-in-blazor-with-net-core/
        count++;
        var now = DateTime.Now.ToString("ddddd MMMM dd yyyy hh:mm:ss.ffff tt (zzz)");
        Console.WriteLine("Button press " + now);
        logger.LogDebug("Debug Logger: Button press " + now);  
        logger.LogInformation("Info Logger: Button press " + now);
        logger.LogTrace("Trace Logger: Button press " + now);
        logger.LogWarning("Warning Logger: Button press " + now);
    }

}
