@page "/"
@using static System.Console
@using Microsoft.Extensions.Logging;
@inject ILogger<Index> logger

<PageTitle>Index</PageTitle>

<h1>Hello, world! @DateTime.Now.ToString("ddddd MMMM dd yyyy hh:mm:ss.ffff tt (zzz)") </h1>

<h2><center>Built at Wed Dec 28 11:34:14 2022</center></h2>

Welcome to your new app deployed from Github Workflow Actions. title=@title

<SurveyPrompt Title="How is Blazor working for you?" />
<button @onclick="makeStdOutLogEntry">
    Press me to make a log entry!
</button>
<div style="border:groove">
    count = @count
</div>
@code {
    string title = System.Environment.GetEnvironmentVariable("TITLE") ?? "default title=Now deploying via DockerHub!";
    int count = 0;
    void makeStdOutLogEntry()
    { // https://www.c-sharpcorner.com/article/introduction-to-logging-framework-in-blazor-with-net-core/
        count++;
        var now = DateTime.Now.ToString("ddddd MMMM dd yyyy hh:mm:ss.ffff tt (zzz)");
        System.Console.WriteLine("System.Console.WriteLine Button press " + now);
        System.Diagnostics.Trace.WriteLine($"System.Diagnostics.Trace.WriteLine: {now}");
        logger.LogDebug("logger.LogDebu Button press " + now);
        logger.LogInformation("logger.LogInformation: Button press " + now);
        logger.LogTrace("logger.LogTrace: Button press " + now);
        logger.LogWarning("logger.LogWarningr: Button press " + now);
        System.Diagnostics.Trace.TraceInformation($"System.Diagnostics.Trace.TraceInformation: {now}");
        System.Diagnostics.Trace.TraceWarning($"System.Diagnostics.Trace.TraceWarning: {now}");
        System.Diagnostics.Trace.TraceError($"System.Diagnostics.Trace.TraceError: {now}");
    }
}
